body {
  font-family: Arial, sans-serif;
  margin-top: 50px;
}

body.open-nav {
  overflow: hidden;
}

h1 {
  color: #9b9b9b;
  margin-bottom: 50px;
  margin-top: 0;
}

.btn-blue {
  background-color: #0275d8;
  color: #ffffff;
}

.btn-blue:focus, .btn-blue:hover {
  color: #d1e9fc;
}

.section {
  padding-bottom: 50px;
  padding-top: 50px;
}

.main-wrapper {
  margin: 0 auto;
  max-width: 1020px;
}

@media screen and (max-width: 767px) {
  .main-wrapper {
    padding-left: 10px;
    padding-right: 10px;
  }
}

.menu-wrapper {
  margin: 0 auto;
  max-width: 1020px;
}

@media screen and (max-width: 767px) {
  .menu-wrapper {
    margin-left: -15px;
    margin-right: -15px;
  }
}

.navbar {
  background-color: #04559b;
  border-bottom: none;
  margin-bottom: 0;
}

.open-nav .navbar {
  border-bottom: 1px solid #ffffff;
}

@media screen and (max-width: 767px) {
  .navbar .navbar-nav {
    margin: 0;
  }
}

.navbar .navbar-nav > li:first-child > a {
  border-top: none;
}

.navbar .navbar-nav > li > a {
  color: #ffffff;
  font-size: 16px;
  padding-left: 30px;
  padding-right: 30px;
}

@media screen and (max-width: 767px) {
  .navbar .navbar-nav > li > a {
    border-top: 1px solid #0275d8;
    padding: 12px 25px;
  }
}

.navbar .navbar-nav > li > a:focus, .navbar .navbar-nav > li > a:hover {
  background-color: #01345e;
  color: #d1e9fc;
}

.navbar .navbar-nav > li.active a {
  background-color: #01345e;
  color: #d1e9fc;
}

.navbar .navbar-nav > li.active a:focus, .navbar .navbar-nav > li.active a:hover {
  background-color: #01345e;
  color: #d1e9fc;
}

.navbar .navbar-toggle {
  background-color: transparent;
  border: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
  float: left;
  margin-left: 25px;
  margin-right: 0;
  padding: 6px 0;
}

.navbar .navbar-toggle:focus, .navbar .navbar-toggle:hover {
  background-color: transparent;
}

.navbar .navbar-toggle .icon-bar {
  background-color: #ffffff;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
  height: 4px;
  width: 28px;
}

.navbar .navbar-toggle .icon-bar + .icon-bar {
  margin-top: 5px;
}

.navbar .navbar-toggle .icon-close {
  background: url(../images/ico-close.jpg) no-repeat;
  display: none;
  height: 24px;
  width: 24px;
}

.navbar .navbar-toggle.open .icon-bar {
  display: none;
}

.navbar .navbar-toggle.open .icon-close {
  display: block;
}

.navbar .navbar-brand {
  color: #ffffff;
  margin-bottom: 0;
  text-transform: uppercase;
  padding: 15px 15px 15px 20px;
}

.navbar .navbar-brand:hover {
  color: #ffffff;
}

@media screen and (max-width: 767px) {
  .navbar .navbar-collapse {
    background-color: #02447c;
    border: medium none;
    -webkit-box-shadow: none;
    box-shadow: none;
    display: block;
    height: 100%;
    left: -240px;
    margin: 0;
    max-height: none;
    padding: 0;
    position: fixed;
    top: 53px;
    width: 240px;
    z-index: 2;
  }
}

.navbar-overlay {
  background-color: rgba(2, 68, 124, 0.6);
  display: none;
  height: 100%;
  left: 0;
  opacity: 0;
  filter: alpha(opacity=0);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

.thumbnail-list {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 5px 12px rgba(2, 117, 216, 0.15);
  box-shadow: 0 5px 12px rgba(2, 117, 216, 0.1);
  padding: 0;
}

.thumbnail-list .caption-title {
  display: table;
  height: 180px;
  width: 100%;
}

.thumbnail-list .caption-title .caption-title-content {
  background-color: #0275d8;
  -webkit-border-top-left-radius: 5px;
  -moz-border-top-left-radius: 5px;
  -ms-border-top-left-radius: 5px;
  border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -moz-border-top-right-radius: 5px;
  -ms-border-top-right-radius: 5px;
  border-top-right-radius: 5px;
  display: table-cell;
  padding: 20px 15px;
  vertical-align: middle;
}

.thumbnail-list .caption-title h2 {
  color: #ffffff;
  font-size: 20px;
}

.thumbnail-list .caption {
  padding: 20px 15px;
  position: relative;
}

.thumbnail-list .caption .btn-container {
  margin-bottom: 0;
}

.modal-item {
  background-color: rgba(0, 0, 0, 0.8);
}

.modal-item .modal-dialog {
  margin-top: 0;
  max-width: 1180px;
  width: auto;
}

@media screen and (max-width: 480px) {
  .modal-item .modal-dialog {
    margin-top: 20px;
  }
}

.modal-item .modal-content {
  background-color: transparent;
  border: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
  box-shadow: none;
  -webkit-box-shadow: none;
}

.modal-item .modal-body {
  background-color: #ffffff;
  padding: 20px 30px;
}

.modal-item .modal-body a {
  color: #676767;
  text-decoration: underline;
}

.modal-item .modal-header {
  background-color: transparent;
  border: medium none;
  padding: 20px 0;
}

.modal-item .close {
  background: url(../images/ico-close.jpg) no-repeat center center #04559b;
  color: #e11a1a;
  font-size: 1px;
  height: 24px;
  opacity: 1;
  filter: alpha(opacity=1);
  padding: 25px;
  width: 24px;
  text-indent: -9999px;
}

.comment-list {
  border-top: none;
  margin-top: 0;
  padding-top: 0;
}

.comment-list + .comment-list {
  border-top: 1px solid #04559b;
  margin-top: 20px;
  padding-top: 20px;
}

.pagination-container {
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (max-width: 767px) {
  .pagination-container {
    padding-left: 0;
    padding-right: 0;
    text-align: center;
  }
}

.pagination-container .pagination li > a {
  font-size: 16px;
}

@media screen and (max-width: 360px) {
  .pagination-container .pagination li > a {
    padding-left: 10px;
    padding-right: 10px;
  }
}

.pagination-container .pagination li > a > span {
  font-size: 14px;
}

.pagination-container .pagination li > a:focus, .pagination-container .pagination li > a:hover,
.pagination-container .pagination li > span:focus,
.pagination-container .pagination li > span:hover {
  background-color: #0275d8;
  color: #ffffff;
}

.pagination-container .pagination > .disabled a {
  background-color: #cccccc;
}

.pagination-container .pagination > .disabled a:focus, .pagination-container .pagination > .disabled a:hover {
  background-color: #cccccc;
  color: #777777;
}
