<!-- Fixed navbar -->
<nav class="navbar navbar-default navbar-fixed-top">
	<div class="container-fluid">
		<div class="menu-wrapper">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-close"></span>
				</button>
				<p class="navbar-brand visible-xs-inline">Navigation</p>
			</div>
			<div class="navbar-collapse">
				<ul class="nav navbar-nav navbar-right">
					<li><a href="#home">Home</a></li>
					<li><a href="#about">About</a></li>
					<li><a href="#terms">Terms</a></li>
					<li><a href="#privacy">Privacy</a></li>
				</ul>
			</div>
		</div>
	</div>
</nav>
<div class="navbar-overlay"></div>