$mobile-width: 767px;
$sm-mobile-width: 360px;

@mixin border-radius($radius) {
	-webkit-border-radius: $radius;
       -moz-border-radius: $radius;
		-ms-border-radius: $radius;
			border-radius: $radius;
}

@mixin border-top-left-radius($radius) {
	-webkit-border-top-left-radius: $radius;
	   -moz-border-top-left-radius: $radius;
		-ms-border-top-left-radius: $radius;
			border-top-left-radius: $radius;
}

@mixin border-top-right-radius($radius) {
	-webkit-border-top-right-radius: $radius;
	   -moz-border-top-right-radius: $radius;
		-ms-border-top-right-radius: $radius;
			border-top-right-radius: $radius;
}

@mixin mobile {
	@media screen and (max-width: #{$mobile-width}) {
		@content;
	}
}

@mixin sm-mobile {
	@media screen and (max-width: #{$sm-mobile-width}) {
		@content;
	}
}