.modal-item {
	background-color: rgba(0,0,0,0.8);

	.modal-dialog {
	    margin-top: 0;
	    max-width: 1180px;
	    width: auto;

	    @media screen and (max-width: 480px) {
	    	margin-top: 20px;
	    }
	}

	.modal-content {
		background-color: transparent;
		border: none;
		@include border-radius(0);
		box-shadow: none;
		-webkit-box-shadow: none;
	}

	.modal-body {
		background-color: #ffffff;
		padding: 20px 30px;

		a {
			color: #676767;
			text-decoration: underline;
		}
	}

	.modal-header {
		background-color: transparent;
	    border: medium none;
	    padding: 20px 0;
	}

	.close {
		background: url(../images/ico-close.jpg) no-repeat center center #04559b;
		color: #e11a1a;
		font-size: 1px;
		height: 24px;
		opacity: 1;
		filter: alpha(opacity=1);
		padding: 25px;
		width: 24px;
		text-indent: -9999px;
	}
}
