.navbar {
	background-color: #04559b;
	border-bottom: none;
	margin-bottom: 0;

	.open-nav & {
		border-bottom: 1px solid #ffffff;
	}

	.navbar-nav {
		
		@include mobile {
			margin: 0;
		}

		> li {
			
			&:first-child {
				> a {
					border-top: none;
				}		
			}

			> a {
				color: #ffffff;
				font-size: 16px;
				padding-left: 30px;
   				padding-right: 30px;

   				@include mobile {
					border-top: 1px solid #0275d8;
    				padding: 12px 25px;
				}

				&:focus,
				&:hover {
					background-color: #01345e;
					color: #d1e9fc
				}
			}

			&.active {
				a {
					background-color: #01345e;
					color: #d1e9fc;

					&:focus,
					&:hover {
						background-color: #01345e;
						color: #d1e9fc;
					}
				}
			}
		}
	}

	.navbar-toggle {
		background-color: transparent;
		border: none;
		@include border-radius(0);
		float: left;
	    margin-left: 25px;
	    margin-right: 0;
	    padding: 6px 0;

	    &:focus,
	    &:hover {
			background-color: transparent;
	    }

		.icon-bar {
			background-color: #ffffff;
			@include border-radius(0);
			height: 4px;
    		width: 28px;

    		+ .icon-bar {
    			margin-top: 5px;
    		}
		}

		.icon-close {
			background: url(../images/ico-close.jpg) no-repeat;
			display: none;
			height: 24px;
			width: 24px;
		}

		&.open {
			.icon-bar {
				display: none;
			}

			.icon-close {
				display: block;
			}
		}
	}

	.navbar-brand {
		color: #ffffff;
		margin-bottom: 0;
		text-transform: uppercase;
		padding: 15px 15px 15px 20px;

		&:hover {
			color: #ffffff;
		}
	}

	.navbar-collapse {
		@include mobile {
			background-color: #02447c;
		    border: medium none;
		    -webkit-box-shadow: none;
		    box-shadow: none;
		    display: block;
		    height: 100%;
		    left: -240px;
		    margin: 0;
		    max-height: none;
		    padding: 0;
		    position: fixed;
		    top: 53px;
		    width: 240px;
		    z-index: 2;
		}
	}
}

.navbar-overlay {
	background-color: rgba(2, 68, 124, 0.6);
	display: none;
	height: 100%;
	left: 0;
	opacity: 0;
	filter: alpha(opacity=0);
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 1;
}

