.pagination-container {
	padding-left: 15px;
	padding-right: 15px;

	@include mobile {
		padding-left: 0;
		padding-right: 0;
		text-align: center;
	}

	.pagination {
		li {
			> a {
				font-size: 16px;

				@include sm-mobile {
					padding-left: 10px;
					padding-right: 10px;
				}

				> span {
					font-size: 14px;
				}
			}

			> a,
			> span {
				&:focus,
				&:hover {
					background-color: #0275d8;
					color: #ffffff;
				}
			}
		}

		> .disabled {
			a {
				background-color: #cccccc;

				&:focus,
				&:hover {
					background-color: #cccccc;
					color: #777777;
				}
			}
		}
	}
}