.section {
	padding-bottom: 50px;
	padding-top: 50px;
}

.main-wrapper {
	margin: 0 auto;
	max-width: 1020px;

	@include mobile {
		padding-left: 10px;
		padding-right: 10px;
	}
}

.menu-wrapper {
	margin: 0 auto;
	max-width: 1020px;

	@include mobile {
		margin-left: -15px;
		margin-right: -15px;
	}
}