.thumbnail-list {
	@include border-radius(5px);
	-webkit-box-shadow: 0 5px 12px rgba(2,117,216, 0.15);
	box-shadow: 0 5px 12px rgba(2,117,216, 0.1);
	padding: 0;

	.caption-title {
		display: table;
		height: 180px;
		width: 100%;

		.caption-title-content {
			background-color: #0275d8;
			@include border-top-left-radius(5px);
			@include border-top-right-radius(5px);
			display: table-cell;
			padding: 20px 15px;
			vertical-align: middle;
		}

		h2 {
			color: #ffffff;
			font-size: 20px;
		}
	}

	.caption {
		padding: 20px 15px;
		position: relative;

		.btn-container {
			margin-bottom: 0;
		}
	}
}